*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-around;
    width: 100vw;
}

